@{
    Layout = "_Layout";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>loginpage</title>
</head>
<body>

    <h3>Вхід</h3>
    <br />

    <form method="post" action="">
        <table>
            <tbody>
                <tr>
                    <td>Введіть пошту</td>
                    <td><input type="text" name="UserMail" /></td>
                </tr>
                <tr>
                    <td>Створіть пароль</td>
                    <td><input type="text" name="UserPassword" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Увійти" /></td>
                </tr>

            </tbody>

        </table>

    </form>
    <a href="/Home/registerpage">Зареєструватись</a>
</body>
</html>